[submodule "nebula3_pipeline"]
	path = nebula3_pipeline
	url = git@github.com:NEBULA3PR0JECT/nebula3_pipeline.git
[submodule "nebula3_experts"]
	path = nebula3_experts
	url = https://github.com/NEBULA3PR0JECT/nebula3_experts.git
