[submodule "nebula3_vlm"]
	path = nebula3_vlm
	url = https://github.com/NEBULA3PR0JECT/nebula3_vlm.git
[submodule "nebula3_experts"]
	path = nebula3_experts
	url = https://github.com/NEBULA3PR0JECT/nebula3_experts.git
